@model Search

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Recherche avancée</h1>
<form asp-controller="Searches" asp-action="Index" method="get">

    <h6>N° Zone : </h6>

    <div class="input-group flex-nowrap">

        <select id="select" name="zone" class="form-control" aria-label="Toute les zones" aria-describedby="addon-wrapping" placeholder="N° zone">
            <option value="">N° zone</option>
            <option value="1">Zone N°1</option>
            <option value="2">Zone N°2</option>
            <option value="3">Zone N°3</option>
            <option value="4">Zone N°4</option>
            <option value="5">Zone N°5</option>
        </select>
    </div>

    <h6>Catégorie : </h6>

    <div class="input-group flex-nowrap">
        <select id="select" name="cat" class="form-control" aria-label="Toutes catégories" aria-describedby="addon-wrapping" placeholder="Catégorie">
            <option value="">Catégorie</option>
            <option value="1">Shops</option>
            <option value="2">Staff</option>
            <option value="3">Carousels</option>
        </select>
    </div>

    <h6>Recherche par nom: </h6>
    <div class="input-group flex-nowrap">
        <input type="text" name="SearchString">
        <input type="submit" value="Rechercher" class="btn btn-success" />
    </div>
</form>

@if (Model.carousels.Count > 0)
{
    <h3>Carousels</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Zone</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.carousels)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.zone)
                    </td>
                    <td>
                        <a asp-controller="Carousels" asp-action="Details" asp-route-id="@item.id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.shops.Count > 0)
{
    <h3>Shops</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Zone</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.shops)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.zone)
                    </td>
                    <td>
                        <a asp-controller="Shops" asp-action="Details" asp-route-id="@item.id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.staffs.Count > 0)
{
    <h3>Staff</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.staffs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td>
                        <a asp-controller="Staffs" asp-action="Details" asp-route-id="@item.id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}