@model Attraction_Tycoon_ASPNET.Models.Carousel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Carousel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.is_open)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.is_open)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.waiting_time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.waiting_time)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.state)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
