@model IEnumerable<Attraction_Tycoon_ASPNET.Models.Carousel>

@{
    ViewData["Title"] = "Index";
}

<h1>Carousels</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="CarouselController" asp-action="Index" method="get">
    <p>
        Recherche: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                Open
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.waiting_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_open)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.waiting_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacity)
            </td>
            <td>
                <a asp-controller="Zones" asp-action="Details" asp-route-id="@item.zone">@Html.DisplayFor(modelItem => item.zoneName) </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
